<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title id="title"></title>
  <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@unocss/reset/tailwind.min.css"/>
  <style id="style">
    body, html {
      font-size: 10pt;
      font-family: "Liberation Sans", "LiberationSans", system-ui, sans-serif;
    }
  </style>
</head>
<body>
<div id="content"></div>
</body>
</html>